* {
  margin: 0;
  padding: 0;
  list-style-type: none;
 
 }
 button  {
   padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
 /* Сверху сброс стилей*/
 

/* SIDE MENU !!! */
/* SIDE MENU !!! */
/* SIDE MENU !!! */


a {
  text-decoration: none;
}
.burger-menu {
opacity: 0;
transform: translateX(-250px);
transition: 0.5s ease-in-out;
display: grid;
justify-content: center;
justify-items: center;
align-items: center;
grid-template-rows: 14px repeat(7, 45px) 30% 10%;
top: 62px;
position: absolute;
width: 100%;
z-index: 10;
background-color: white;
text-align: start;
height: 100%;
}
.sidemenu-contentbackground {
opacity: 0;
transition: 1s;
}

/* SIDE MENU !!! выключаем */

.menu__sidemenu-button--active  {
background-image: url(images/active_header_menu.svg);
width: 41px;
height: 20px;
transform: rotate(360deg);
transition: 0.6s;

}

.burgermenu-open {
  opacity: 1;
  transform: translateX(0px);
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 14px repeat(7, 45px) 30% 10%;
  top: 62px;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: white;
  text-align: start;
  height: 100%;
 
  transition: 0.5s ease-in-out;

 }
 .exitbutton-position {
  position: absolute;
  left: 14px;
  top: 4px;
 }
.menu-style {
font-size: 14px;
font-weight: 700;
color: rgb(42, 35, 103);
}
.bottom-menustyle {
font-size: 18px;
font-weight: 700;
color: rgb(107, 90, 249);
}
.bottom-align {
align-self: end;
}

.text-align{
  text-align: center;
  width: 161px;
  }
 


.menu__side-menu {
width: 100%;
}


 /* SIDE MENU !!! */
 /* SIDE MENU !!! */
 /* SIDE MENU !!! */
 
 
 .menu__item, .menu__contacts {
   display: none;
  }
 /* Отключаем ненужные блоки в мобильной версии */
 .fiolet {
  color: rgb(107, 90, 249);
 }
 .darkfiolet {
 color: rgb(42, 35, 103);
 }
 /* Классы для цветного текста */
 body {
   font-family: "Montserrat" ;
   display: grid;
   gap: 21px;
 }
 /* Задаем параметры общие для всего документа */
  header {
   padding: 10px;
   padding-top: 14px;
   padding-bottom: 0;
   width: auto;
 }
  
 /* Тут мы задали паддинги для хедера */
 .call-button {
   background-image: url(images/button_full.svg);
   width: 52px;
   height: 32.5px;
   }
   .menu__sidemenu-button {
     background-image: url(images/3_lined_menu.svg);
     width: 41px;
     height: 20px;
     transition: 0.7s;
   }
   .menu__sidemenu-button {
     background-image: url(images/3_lined_menu.svg);
     width: 41px;
     height: 20px;
     transition: 0.7s;
   }
   /* Параметры кнопки и меню */
   .menu {
     
     display: flex;
     justify-content: space-between;
     
    }
    /* Позиционирование всего меню */
    .menu__side-menu {
     display: flex;
     align-self: center;
     width: 41px;
     height: 20px;
    }
    /* Вертикальное позиционирование сайд меню*/
  .menu__milenium-logo {
   display: flex;
   align-self: center;
   width:113.21px;
   height: 35.06px;
   }
   .menu__call-button {
     display: flex;
     align-self: center;
   }
 /* Размеры и позиционирование миллениум лого */
 
 
 /* Тут начало блока мейн */
 .content {
  display: grid;
  grid-template-rows: 318px 95px 69px 97px;
  max-width:max-content;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
 }
 /* Тут начало блока мейн */
 /* Задаем вертикальные отступы между блоками */
 .content__header {
 font-size: 18px;
 font-weight: 700;
 }
 /* Параметры текста заголовка контента */
 .content__first-promotion {
   font-size: 12px;
   font-weight: 400;
   text-align: left ;
 }
 /* Параметры текста первого блока продвижения*/
 .content__first-promotion > .fiolet {
   font-weight: 700;
 }
 /* Вложение нужно для выделения текста не только цветом но и весом шрифта */
 .content__price-button {
 display: flex;
 justify-content: center;
 }
 /* Горизонтальное выравнивание*/
 .content__price {
 background-image: url(images/price_button.svg);
 width: 275px;
 height: 60px;
 }
 /* Нужный вид кнопки */
 .content__second-promotion {
 font-size: 12px;
 font-weight: 500;
 text-align: center;
 }
 /* Параметры текста второго блока продвижения*/
 
 .content__image {
 width: auto;
 max-width: 480px;
 min-width: 340px;
 position: absolute;
 z-index: -1;
 }
 /* Позиционирование картинотьки !!! */
 /* Все дальше min-width !!! */
 @media(min-width: 768px) {
 
   header {
     padding-right: 32px;
     padding-left: 41px;
     padding-top: 22px;
   }
   /* Новые параметры хедера */
   body {
     gap: 56px;
   }
     /* Новый отступ */
 .call-button {
   background-image: url(images/trubka-button.svg);
   width: 62px;
   height: 38.75px;
   }
 .menu__milenium-logo {
  width:177.61px;
  height: 55px;
 }
     /* Новые парметры элементов в шапке (сайд меню с теми же размерам) */
 
 
     @media(min-height: 300px) {

/* SIDE MENU LAPTOP */

  .burgermenu-open {
   
    grid-template-rows: 0px repeat(7, minmax(30px, 5%)) 10% 10%;
    top: 97px;
    left:0px;
    width: 360px;
    padding-top: 50px;
  
  }
  /* SIDE MENU параметры сайдменю для лэптопа */
  .exitbutton-position {
    position: absolute;
    left: 321px;
    top: 0;
    padding-top: 19.28px;
   }
   /* SIDE MENU позиционирование крестика */
   .contentbackground {
    opacity: 1;
    transition: 1s;
    position: absolute;
    background-color: rgba(163, 161, 161, 0.85);
    left: 111110px;
    top: 97111px;
    width: 100%;
    height: 100%;
    z-index: 5;
   }
   /* SIDE MENU блок затемняющий экран */
   .exit-button {
    width: 20.87px;
    height: 18.19px;
   }
   
    /* SIDE MENU LAPTOP */
  }

  @media(min-height: 500px) {

    /* SIDE MENU LAPTOP */
    
 
  .burger-menu {
  opacity: 0;
  transform: translateX(-1050px);
  transition: 0.5s ease-in-out;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 14px repeat(7, 45px) 30% 10%;
  top: 62px;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: white;
  text-align: start;
  height: 100%;
  }
    
      .burgermenu-open {
        transform: translateX(0px);
        opacity: 1;
        grid-template-rows: 0px repeat(7, minmax(30px, 5%)) 20% 10%;
        top: 97px;
        left:0px;
        width: 360px;
        padding-top: 50px;
      
      }
      /* SIDE MENU параметры сайдменю для лэптопа */
      .exitbutton-position {
        position: absolute;
        left: 321px;
        top: 0;
        padding-top: 19.28px;
       }
       /* SIDE MENU позиционирование крестика */
       
       .contentbackground {
        position: absolute;
        display: block;
        background-color: rgba(163, 161, 161, 0.85);
        left: 0px;
        top: 97px;
        width: 100%;
        height: 100%;
        z-index: 5;
       }
       /* SIDE MENU блок затемняющий экран */
       .exit-button {
        width: 20.87px;
        height: 18.19px;
       }
       
        /* SIDE MENU LAPTOP */
      }

      @media(min-height: 650px) {

        /* SIDE MENU LAPTOP */
        
          .burgermenu-open {
            grid-template-rows: 0px repeat(7, minmax(30px, 5%)) 30% 7%;
            top: 97px;
            left:0px;
            width: 360px;
            padding-top: 50px;
          
          }
          /* SIDE MENU параметры сайдменю для лэптопа */
          .exitbutton-position {
            position: absolute;
            left: 321px;
            top: 0;
            padding-top: 19.28px;
           }
           /* SIDE MENU позиционирование крестика */
           .contentbackground {
            position: absolute;
            opacity: 1;
            transition: 1s;
            background-color: rgba(163, 161, 161, 0.85);
            left: 0px;
            top: 97px;
            width: 100%;
            height: 100%;
            z-index: 5;
           }
           /* SIDE MENU блок затемняющий экран */
           .exit-button {
            width: 20.87px;
            height: 18.19px;
           }
           
            /* SIDE MENU LAPTOP */
          }
    
  
 .content {
   display: grid;
   grid-template-rows: 50px 75px 70px 97px;
   max-width: 768px;
   margin: 0 auto;
   padding-left: 10px;
 }
 /* Новые отступы в гриде */
 .content__header {
   font-size: 24px;
 }
 .content__first-promotion {
 width: 356px;
 height: 45px;
 }
 .content__price-button {
   display: flex;
   justify-content: flex-start;
   }
 .content__second-promotion {
   width: 287px;
   text-align: start;
   font-weight: 600;
 }
 /* Ориентация контента */
 .content__image {
 min-width: 450px;
 right: 0%;
 position: absolute;
 }
 /* Позиция картинотьки лэптоп */
 }

 /* Промежуточное разрешение экрана лэптоп-десктоп !!!
 Я не знаю можно ли было трогать значение grid-template-rows, что бы увеличить вертикальные отступы между блоками
 но я не стал, если что потом переделаю что бы более гармночино все выглядело   */
 
 @media(min-width: 1040px) {

   .content {
     display: grid;
     grid-template-rows: 50px 75px 70px 97px;
     max-width: 1040px;
     margin: 0 auto;
     padding-left: 10px;
   }
   .content__image {
     min-width: 620px;
     top: 10%;
     }
     .content__first-promotion {
       width: 390px;
       }
       .content__second-promotion {
         width: 360px;
       }
     }
 
 /* Позиция десктоп */
 @media(min-width: 1280px) {


  .burgermenu-close {
    display: none;
  }
  /* Burger menu zaglushka off */
  .sidemenu-contentbackground {
    opacity: 0;
  }
/* Burger menu desktop off */

  
 
   .call-button:hover, .content__price:hover {
     border-radius: 6%;
    /* Фиксит угол у кнопок при наведении */
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   }
 
   
   .menu__item, .menu__contacts {
     display: block;
    }
 /* Подключаем нужные меню на десктоп */
    .menu__side-menu{
   display: none;
   }
 /* Отключаем ненужное сайд меню */
 header {
   /* padding: 140px; */
  
   padding-top: 32px;
   padding-bottom: 0;
 }
 /* Новые паддинги в хедере */
 .menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 1200px;
 }
 /* Вертикальное выравнивание меню */
 a {
   text-decoration: none;
   font-size: 14px;
   font-weight: 700;
 }
 /* Нужный дизайн меню */
 .menu__contacts {
 text-align: end;
 }
 /* Выравнивание влево блока с контактами */
 .menu__working-hours {
 font-weight: 700;
 }
 .menu__phone-number {
 font-size: 24px;
 font-weight: 800;
 }
 /* Нужный стиль номера */
 .call-button {
   background-image: url(images/big_header_button.svg);
   width: 177px;
   height: 60px;
   }
 /* Большая десктопная кнопка */
 
 /* Начало десктоп мейна */
 
 body {
   gap: 90px;
 }
 /* Десктоп гэп */
 .content {
   display: grid;
   grid-template-rows: 121px 156px 80px 77px;
   max-width:1200px;
   margin: 0 auto;
   
  
 }
 /* Десктопные вертикальные отступы */
 .content__header {
   font-size: 36px;
   max-width: 657px;
 }
 /* Мэйн хедер стиль */
 .content__first-promotion {
  font-size: 16px;
  
  width: 619px;
 }
 /* Мэйн первый текст стиль */
 .content__second-promotion {
   font-size: 14px;
   font-weight: 600;
   min-width: 472px;
   }
   /* Мэйн второй текст стиль */
   .content__image {
     min-width: 850px;
     top: 5%;
     right: 0%;
     position: absolute;
     }
  /* Картинка как то так работает в десктопе */
 }
  /* Стиль для всех кнопок */
  /* Для больших разрешений экрана увеличим картинку */
  @media(min-width: 1600px) {
 
   .content__image {
     min-width: 950px;
     top: 5%;
     right: 5%;
     position: absolute;
     }
 
  }
